extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
  style.
    .btn-gradient {
      display: inline-block;
      padding: 10px 20px;
      border: none;
      border-radius: 50px;
      color: white;
      text-decoration: none;
      font-weight: bold;
      background: linear-gradient(135deg, #ff416c, #ff4b2b);
      transition: background-color 0.3s, color 0.3s;
    }

    .btn-gradient:hover {
      background: linear-gradient(135deg, #ff4b2b, #ff416c);
      color: white;
    }

  .container.my-3
    .row
      .col-12 
        +box-head(pageTitle)
    
    .row 
      each item in partners 
        .col-4.mb-3
          .card
            img(src=item.image) 
            .card-body
              h5.card-title #{item.title}
              a(href=`/partners/detail/${item.slug}` class="btn btn-gradient") Chi tiết
